.task {
    width: 650px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f0eeee;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgb(0, 0, 0);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        box-shadow: 0 5px 15px rgba(33, 31, 160, 0.562);
    }

    &.completed {
        background-color: #f0f0f0;
        color: gray;
        text-decoration: line-through;
    }

    .actions {
        display: flex;
        gap: 10px;
    }

    mat-icon {
        cursor: pointer;
        transition: transform 0.2s ease, color 0.2s ease;
        
        &:hover {
            transform: scale(1.2);
            color: #3f51b5;
        }
    }
}


/* -------- Tablet (máx 768px) -------- */
@media (max-width: 768px) {
    .task {
        width: 90%;
        padding: 12px;
        flex-direction: column;
        align-items: flex-start;
    }
}

/* -------- Móvil (máx 480px) -------- */
@media (max-width: 480px) {
    .task {
        width: 100%;
        padding: 10px;
    }
}