.task {
    width: 650px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Sombra más intensa al pasar el mouse */
    }

    &.completed {
        background-color: #f0f0f0;
        color: gray;
        text-decoration: line-through;
    }

    .actions {
        display: flex;
        gap: 10px;
    }

    mat-icon {
        cursor: pointer;
        transition: transform 0.2s ease, color 0.2s ease;
        
        &:hover {
            transform: scale(1.2);
            color: #3f51b5; /* Cambio de color del ícono al hacer hover */
        }
    }
}
